body{
  background-color: #BCC8DC;
  
}

.contenedor{
   width: 90;
  display: flex;
  margin-left: 1em;
  margin-right: 1em;
  
}

.menu{
  border: 1px solid black;
  width: 20%;
  height: auto;
  margin-right: 3px;
}
.lista ul{
  list-style: none;
}
.menu h2{
  text-align: left;
}


.productos{
  border: 1px solid black;
  width: 80%;
  height: auto;
  margin-right: 3px;

}